# Prerequisites
# Object files
/*.o
/*.img
/*.bin

# Linker output
# Precompiled Headers
# Libraries

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#OS files
desktop.ini
/.git/desktop.ini
/.git/refs/desktop.ini
/.git/refs/heads/desktop.ini
/.git/refs/remotes/desktop.ini
/.git/refs/remotes/origin/desktop.ini
/.git/refs/tags/desktop.ini
